html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

input {
    font-size: 12px;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}
/*
hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}
*/

#map {
    bottom:0px;
    height: 100%;
    /*left: 250px;
    position: absolute;*/
    right: 0px;
}

.side_bar {
    border-radius: 3px;
    line-height: 35px;
    text-align: left;
    width: 340px;
    padding-top: 56px;
    height: 100%;
}

.text {
    font-size: 12px;
}

.col-4 {
    max-width: 100%;
}
